.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.env
/app/.env
uploads/
data/jobs.csv
data/new_jobs.csv
data/new_jobs.xlsx
test.csv
notebooks/
hf_cache/
.cache/
hf_cache
.cache
__pycache__
*.safetensors
*.bin
node_modules
/venv/
*.zip
*.tar